---
name: build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  ci:
    name: OTP ${{matrix.otp}}
    runs-on: ubuntu-latest
    container:
      image: erlang:${{matrix.otp}}
    strategy:
      matrix:
        otp: ["21", "22", "23", "24", "25", "26", "27", "28"]
    steps:
      - uses: actions/checkout@v5
      - run: rebar3 --version
      - run: rebar3 eunit
      - run: rebar3 dialyzer
